* {
  padding: 0px;
  margin: 0px; }

body {
  width: 100%;
  height: 100%; }

/*GRID*/
#grilla {
  display: grid;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-template-rows: 20vh 75vh 5vh;
  grid-template-columns: 50% 50%; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/* ENCABEZADO */
header {
  margin: 2px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.logo {
  width: 7vw;
  height: auto;
  margin-left: 3%; }

.menu {
  background-color: black;
  color: white;
  text-align: center;
  margin-right: 5%; }
  .menu ul li {
    display: inline-block; }
    .menu ul li:hover {
      transform: scale(1.1); }
    .menu ul li a {
      color: white;
      padding: 6px;
      font-size: 1rem; }

/* CONTENIDO PRINCIPAL */
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%; }

.dropdown {
  display: none; }

/*quienes somos*/
article {
  width: 50%;
  padding: 2%; }

article .imagen_principal {
  width: 100%;
  border-radius: 5%; }

.nosotros {
  width: 50%;
  padding: 2%; }
  .nosotros p {
    text-align: center;
    border: solid 2px black;
    font-size: 1.5vw;
    height: 100%; }

/* GALERIA*/
.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .galeria img {
    max-width: 200px;
    padding: 1%; }

/*novedades*/
.noticia {
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  margin-top: 3px; }
  .noticia p {
    font-size: 1.5vw; }
  .noticia img {
    width: 10vw;
    height: 10vw; }

/*talleres amigos*/
.main_talleres {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }

.card {
  margin: 1%;
  text-align: center;
  width: 20vw; }

.card-title {
  font-size: 1vw; }

.card-text {
  font-size: 1vw; }

/*contacto*/
.main_contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%; }

form {
  width: 70%;
  font-size: 1rem; }

/* PIE DE PAGINA */
.pie {
  background-color: red;
  margin: 2px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  color: black; }
  .pie p {
    font-size: 1.5vw; }
  .pie ul {
    margin-right: 10px; }
    .pie ul li {
      display: inline-block; }
      .pie ul li a i {
        font-size: 1.5vw;
        color: black; }

@media screen and (max-width: 986px) {
  #grilla {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 25vh auto 5vh;
    grid-template-columns: auto; }
  /* ENACEBZADO */
  header {
    grid-area: header;
    flex-direction: column;
    width: 100%; }
  .logo {
    width: 12vh;
    margin: 0%; }
  .main {
    flex-direction: column;
    width: 100%; }
  main .nosotros p {
    font-size: 2.5vw; }
  .menu {
    display: none; }
  .dropdown {
    display: block;
    margin-bottom: 1%;
    padding: 1%;
    margin: 1%; }
  /* CONTENIDO PRINCIPAL */
  main {
    grid-area: main; }
  /* PIE DE PAGINA */
  footer {
    grid-area: footer; }
  /* GALERIA */ }
